Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Rails
/public/assets
.byebug_history
.rspec

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/staging.key
/config/credentials/production.key
/config/farm_link.key
rails_production_key.txt

# Ignore nodejs files
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore simplecov reports
/coverage.data
/coverage/
.coveralls.yml

# Ignore application configuration
/config/application.yml

.git
dist
node_modules
vendor
*.jar